{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center">
<form action="{{ url_for('reset_password_with_token', token=token) }}" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class="form-control", placeholder="Your new password", size="30") }}
        {% if form.password.errors %}
        {% for error in form.password.errors %}
        <p class="text-danger"><strong>{{ error }}</strong></p>
        {% endfor %}
        {% endif %}
    </div>
    <div class="form-group">
    {{ form.confirm.label }}
    {{ form.confirm(class="form-control", placeholder="Confirm password", size="30") }}
     {% if form.confirm.errors %}
    {% for error in form.confirm.errors %}
    <p class="text-danger"><strong>{{ error }}</strong></p>
    {% endfor %}
    {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">Change my password</button>
</form>
</div>
{% endblock %}